[Unit]
Description=Pulpperator Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop pulpperator
ExecStartPre=-/usr/bin/docker rm pulpperator
ExecStartPre=/usr/bin/docker pull jiayingy/pulpperator:latest
ExecStart=/usr/bin/docker run -p 3000:3000 --name pulpperator jiayingy/pulpperator
ExecStop=/usr/bin/docker stop -t 2 pulpperator

[Install]
WantedBy=local.target
